# LaTeX auxiliary files
*.aux
*.log
*.out
*.toc
*.fls
*.fdb_latexmk
*.synctex.gz
*.bbl
*.blg
*.nav
*.snm
*.vrb
*.lof
*.lot

# Other TeX-related files
*.pdfsync
*.synctex(busy)

# LaTeX intermediate files
*.dvi
*.xdv
*.ps

# Temporary files
*~